@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}

@using Tenzat.Models;

<script src="~/Scripts/Index.js"></script>
@*<link href="~/content/css/css.css" rel="stylesheet" />
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">
                <!-- Portfolio -->
                <section>
                    <header class="major">
                        <h2>Top Lists</h2>
                    </header>
                    <div>
                        <div id="ListCont" class="row">
                            @{
                                foreach (var l in ViewBag.Ranklists)
                                {
                                <div class="4u" style="margin-bottom: 50px;">
                                    <section class="box" style=" height:500px; position:relative;">
                                        <a href="/Lists/ViewList?_ID=@l.ID" class="image image-full">
                                            <img src="@l.image" alt="" /></a>
                                          <div class="boxtag"> <span>@((Enum.GetName(typeof(Tags),l.Tag) as string).ShowTag())</span></div> 
                                        <header>
                                            <h3 style="text-align:right;">@l.Title</h3>
                                        </header>
                                        <footer>
                                            <a href="/Lists/ViewList?_ID=@l.ID"  class="button fa fa-file-text" style="background-color:#000;" >Read Now</a>
                                        </footer>
                                    </section>
                                  
                                </div>
                                }
                            }

                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>*@

@using Tenzat.Models;
<div class="blog-page">
    <div class="blog-box" id="scrollcont">

        <!-- blog-post -->
        @{
            foreach (List l in ViewBag.Ranklists)
            {
                List<ListItem> loli = ViewBag.ListItems as List<ListItem>;
                List<ListItem> Ltosearch = loli.Where(p => p.ListID == l.ID).ToList();
            <div class="blog-post gallery-post">
                <div class="inner-post">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <a href="/Lists/ViewList?_ID=@l.ID" >
                                    <img alt="" style="height:200px;" src="@l.image" /></a>
                            </li>
                            @{
                foreach (ListItem li in Ltosearch)
                {
                                <li>
                                    <a href="/Lists/ViewList?_ID=@l.ID" >
                                        <img alt="" style="height:200px;" src="@li.Drawable" /></a>
                                </li>
                }
                            }
                        </ul>
                    </div>
                    <div class="post-content">
                        <h2 style="text-align: right;"><a href="/Lists/ViewList?_ID=@l.ID">@l.Title</a></h2>
                        <a  href="/Lists/ViewList?_ID=@l.ID" class="button alt">اقرأ المزيد</a>
                        @*<a href="/Lists/ViewList?_ID=@l.ID" style="background-color:#000;color:white;" >Read Now</a>*@
                    </div>
                    <ul class="post-tags">
                        <li><a href="#"><i class="fa fa-comment"></i>@((Enum.GetName(typeof(Tags), l.Tag) as string).ShowTag())</a></li>
                        <li><a href="#"><i class="fa fa-calendar"></i>@(((DateTime)l.ListDate).ToShortDateString())</a></li>
                    </ul>
                </div>
            </div>
            }
        }

    </div>

    @*	<a class="blog-page-link" href="#">Older Posts</a>*@
</div>
@*<div class="blog-page" >
					<div class="blog-box"  >
                        </div>
            </div>*@