@{
    ViewBag.Title = "ViewList";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}
<script src="~/Scripts/ViewList.js"></script>
<script src="~/Scripts/Lists.js"></script>
<link href="~/content/css/css.css" rel="stylesheet" />
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Portfolio -->
                <section>
                    <div>
                        <div class="row">
                            <div class="4u">

                                <!-- Sidebar -->
                                @{
                                   
                                    foreach (var r in ViewBag.related)
                                    {
                                    <section class="box">
                                        <a href="/Lists/ViewList?_ID=@r.ID" class="image image-full">
                                            <img src="@r.image" alt="" />
                                        </a>
                                        <header>
                                            <h3>@r.Title</h3>
                                        </header>
                                        <footer>
                                            <a  href="/Lists/ViewList?_ID=@r.ID" class="button alt">Continue Reading</a>
                                        </footer>
                                    </section>
                                        
                                    }
                                }
                            </div>
                            <div class="8u skel-cell-important">

                                <!-- Content -->
                                @{
                                    int counter = 1;
                                    foreach (var l in ViewBag.getlistitem)
                                    {
                                        if (counter == 6)
                                        {
                                    <img src="~/content/images/pic10.jpg" style="margin-bottom: 50px; width: 100%" />
                                               
                                        }
                                    <article class="box is-post" style="padding-top: 0; position: relative; float:right;">
                                        <div class="ordercont">
                                            <div style="width: 90%; height: 150%; float: right; margin-right: 70px;">
                                                <p style="text-align: right; height: 100%; line-height: 50px; font-weight:bold; word-wrap: break-word;">@l.Title</p>
                                            </div>
                                            <span class="listorder">@l.Order</span>
                                        </div>
                                        @if (l.ItemType == 1)
                                        {
                                            @*<div class="image image-full">
                                                <div style="height:auto; width:100%;">*@
                                                    <iframe style="margin-top:30px; float:right; margin-right:-3.6%; padding:0;" width="107%" height="600" src="@l.Drawable" frameborder="0" allowfullscreen></iframe>
                                                @*</div>
                                            </div>*@
                                        }
                                        else
                                        {
                                            <a href="#" class="image image-full">
                                                <div class="imglist" style="float: left; margin-top: 0px;">
                                                    <img src="@l.Drawable" style="height:600px;" alt="" />
                                                </div>
                                            </a>
                                        }
                                        @*<header>
                                            <span class="byline">_</span>
                                        </header>*@
                                        <p style="text-align: right; float:right; margin-top:40px;">
                                            @l.Description
                                        </p>
                                    </article>
                                    <div style="height: 30px; width: 100%; float:right;"></div>
                                        counter++;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>









