@{
    ViewBag.Title = "ViewList";
    Layout = "~/Views/Shared/FrontMaster.cshtml";

   }
@using Tenzat.Models;

<script src="~/Scripts/ViewList.js"></script>
@*<link href="~/content/css/css.css" rel="stylesheet" />
<!-- Main Wrapper -->
<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="12u">

                <!-- Portfolio -->
                <section>
                    <div>
                        <div class="row">
                            <div class="4u">

                                <!-- Sidebar -->
                                @{
                                   
                                    foreach (var r in ViewBag.related)
                                    {
                                    <section class="box">
                                        <a href="/Lists/ViewList?_ID=@r.ID" class="image image-full">
                                            <img src="@r.image" alt="" />
                                        </a>
                                        <header>
                                            <h3 style="text-align:right;">@r.Title</h3>
                                        </header>
                                        <footer>
                                            <a  href="/Lists/ViewList?_ID=@r.ID" class="button alt">Read Now</a>
                                        </footer>
                                    </section>
                                        
                                    }
                                }
                            </div>
                            <div class="8u skel-cell-important">

                                <!-- Content -->
                                @{
                                    int counter = 1;
                                    foreach (var l in ViewBag.getlistitem)
                                    {
                                        if (counter == 6)
                                        {
                                    <img src="~/content/images/pic10.jpg" style="margin-bottom: 50px; width: 100%" />
                                               
                                        }
                                    <article class="box is-post" style="padding-top: 0; position: relative; float:right;">
                                        <div class="ordercont">
                                            <div style="width: 90%; height: 150%; float: right; margin-right: 70px;">
                                                <p style="text-align: right; height: 100%; line-height: 50px; font-weight:bold; word-wrap: break-word;">@l.Title</p>
                                            </div>
                                            <span class="listorder">@l.Order</span>
                                        </div>
                                        @if (l.ItemType == 1)
                                        {
                                           
                                                    <iframe style="margin-top:30px; float:right; margin-right:-3.6%; padding:0; width:107%; height:600px;" src="@l.Drawable" frameborder="0" allowfullscreen></iframe>
                                             
                                        }
                                        else
                                        {
                                            <a href="#" class="image image-full">
                                                <div style="float: left; margin-top: 0px;">
                                                    <img src="@l.Drawable" class="imaglist" alt="" />
                                                </div>
                                            </a>
                                        }
                                       
                                        <p style="text-align: right; float:right; margin-top:40px;">
                                            @l.Description
                                        </p>
                                    </article>
                                    <div style="height: 30px; width: 100%; float:right;"></div>
                                        counter++;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>*@






<link href="~/content/css/css.css" rel="stylesheet" />

		
				<div class="about-page">
					<div class="about-box">
						<div class="about-content">
                            @* <div id="MainList" style="margin-bottom:30px;border-bottom:1px solid rgb(229, 229, 229);padding-bottom:20px;width:100%;height:350px;"></div>*@
                            <div class="about-section" id="MainList" style="position:relative;">
								
							</div>
                             @{
                                    int counter = 1;
                                    foreach (var l in ViewBag.getlistitem)
                                    {
                                         if (counter == 6)
                                        {
                                   <div style="border-bottom:1px solid rgb(229, 229, 229);margin-bottom:20px;"><img src="~/content/imgs/pic09.jpg" style="margin-bottom: 30px; width: 100%; height:350px;" /></div> 
                                         }
							<div class="about-section">
                                <span class="listorder">@l.Order</span>
                                <div style="padding-top:10px;margin-right:60px;"><h1 style="text-align:right;">@l.Title</h1></div>
                                 @if (l.ItemType == 1)
                                 {
                                   <iframe style="height:350px;width:100%;" src="@l.Drawable" frameborder="0" allowfullscreen></iframe>
                                 }
                                        else
                                        {
								<img alt="" src="@l.Drawable" style="height:350px;">
                                 }
								<p style="text-align:right;">@l.Description </p>
								
							</div>
                                  counter++;
                                    }
                                }
							<div class="about-section last-section">
								<h1 style="text-align:right;text-decoration:underline">.. مواضيع ذات صله </h1>
								<div class="team-members">
									<div class="row">
										 @{
                                    foreach (var r in ViewBag.related)
                                    {
										<div class="col-md-4" style="height:350px;">
							<div class="inner-post">
								 <a href="/Lists/ViewList?_ID=@r.ID"><img alt="" style="height: 150px;width: 100%;" src="@r.image"></a>
								<div class="post-content">
									<h2 style="text-align:right;"><a href="/Lists/ViewList?_ID=@r.ID">@r.Title</a></h2>
                                    <a  href="/Lists/ViewList?_ID=@r.ID" class="button alt">اقرأ المزيد</a>
								</div>
								<ul class="post-tags">
									<li><a href="#"><i class="fa fa-comment"></i>@((Enum.GetName(typeof(Tags),r.Tag) as string).ShowTag())</a></li>
									<li><a href="#"><i class="fa fa-calendar"></i>@(((DateTime)r.ListDate).ToShortDateString())</a></li>
								</ul>
							</div>
										</div>
                                         }
                                         }
                                        
                                         
									</div>
								</div>							
							</div>
						</div>
						
					</div>
				</div>
		
		




